@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@400;500&display=swap');
    body{
        margin: 0;
        padding:0;
        font-family: 'IBM Plex Sans Arabic', sans-serif;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    .navbar {
        font-family: 'IBM Plex Sans Arabic', sans-serif;
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
      }
      
      .navbar * {
        box-sizing: border-box;
        transition: all .35s ease;
      }
      
      .navbar li {
        display: inline-block;
        list-style: outside none none;
        margin: .5em 1em;
        padding: 0;
     
      }
      
      .navbar a {
        padding: .5em .8em;
        color: rgba(255,255,255,.5);
        position: relative;
        text-decoration: none;
        font-size: 20px;
      }
      
      .navbar a::before,
      .navbar a::after {
        content: '';
        height: 14px;
        width: 14px;
        position: absolute;
        transition: all .35s ease;
        opacity: 0;
        color: #1a9fc7;
      }
      
      .navbar a::before {
        content: '';
        right: 0;
        top: 0;
        border-top: 3px solid #0a635e;
        border-right: 3px solid #3291cf;
        transform: translate(-100%, 50%);
      }
      
      .navbar ul li a:after {
        content: '';
        left: 0;
        bottom: 0;
        border-bottom: 3px solid #0a635e;
        border-left: 3px solid #3291cf;
        transform: translate(100%, -50%)

      }
      
      .navbar ul li a:hover:before,
      .navbar ul li a:hover:after{
        transform: translate(0,0);
        opacity: 1;
      }
      
      .navbar ul li a:hover {
        color: #1a9fc7;
      }
    /* for heading change font color and font depending of the background */
    .heading{
        padding-top: 15%;
        padding-left: 5%;
        text-align:start;
        
    }
    .heading h4{
        padding-bottom: 0%;
        padding-top: 40;
        font-weight: 700;
        word-spacing: 5px;
        letter-spacing: 2px;
        
    }
    /* emoji */
    .emoji{
        font-size: 50px;
        padding-left: 25%;
        animation: hello 3.5s infinite;
        transform-origin: 70% 70%;
    }
    @keyframes hello {
        30%{
            transform: rotate(-8deg);
        }
        35%{
            transform: rotate(-10deg);
        }
        40%{
            transform: rotate(-9deg);
        }
        45%{
            transform: rotate(-10deg);
        }
        50%{
            transform: rotate(-8deg);
        }
        55%{
            transform: rotate(-9deg);
        }
    }
    
    .heading h1{
        font-weight: 900;
        word-spacing: 5px;
        letter-spacing: 2px;
        animation: type 1.4s steps(18);
        overflow: hidden;
        white-space: nowrap;
        font-family: 'Dancing Script', cursive;
        font-size: 60px;
    }
    @keyframes type{
    0%{
        width:0ch;
    }
    100%{
        width:18ch;
    }
    }
    /* social media */
    .social{
        padding-left: 10%;
        padding-right: 10%;
        font-size: 2.5rem;
        letter-spacing: 0.5rem;
        background: black;
        margin-left: 3%;
    }
    /* Effects to social---to be added */
    .social a:hover{
        transform: translate(0,-10px);
    }
    
    /*  about */
     .about .row {
        margin-left: 10%;
        margin-right: 7%;
        margin-top: 4px;
        font-size: 100%;
        font-weight: 700;
    }




    .wrapper {
        width: 100%;
        height: 100vh;
        display: flex;
      }
      
      .card {
        width: 200px;
        height: 350px;
        margin: auto;
        margin-top: -3%;
        position: relative;
        overflow: hidden;
        z-index: 1;
      }
      .card:hover .fon {
        opacity: 0;
      }
      .card:hover .text {
        height: 10%;
        padding: 10px 0 0;
      }
      .card:hover .text h2 {
        margin-bottom: 0;
      }
      .card:hover .text p {
        opacity: 0;
      }
      
      .fon {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgb(82, 190, 240);
        opacity: 0.3;
        z-index: 2;
        transition: opacity 0.25s;
      }
      
      .text {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: #fff;
        height: 60%;
        width: 100%;
        text-align: center;
        padding: 40px 0 0;
        z-index: 4;
        transition: height 0.25s, padding 0.25s;
      }
      .text h2 {
        text-transform: uppercase;
        color: #3498DB;
        font-family: 'Dancing Script', cursive;
        font-size: 1.5rem;
        font-weight: 900;
        letter-spacing: 2px;
        margin-bottom: 20px;
        transition: margin-bottom 0.25s;
      }
      .text p {
        line-height: 20px;
        margin: 0 10px;
        color: rgb(150, 192, 240);
        z-index: 5;
        transition: opacity 0.25s;
      }
      .text .triangle {
        width: 100%;
        height: 50px;
        background: #fff;
        z-index: 9;
        transform: matrix(1.01, -0.3, 0, 2, -1, 10);
        z-index: 3;
      }
      
      .btn {
        position: absolute;
        top: calc(50% - 20px);
        left: calc(50% - 40px);
        margin: auto;
        width: 80px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        border: 2px solid #fff;
        color: #fff;
        transition: transform 0.15s; background:0.25s; color:0.25s;border-color :0.25s;
        z-index: 4;
        transform: scale(0);
        cursor: pointer;
      }
      .btn:hover {
        background: #3498DB;
        border-color: #3498DB;
      }




















    /* Skills box */


       
    /* projects heading */
    .projects-heading{
        font-family: 'Dancing Script', cursive; 
        font-size: 60px; 
        font-weight: 700;
        text-align: center;
    }
    /* Cards */
    
    .container{
        width: 2000px;
        position: relative;
        display: flex;
        justify-content: space-between;
        margin: 15px auto;
        
    }
    .container .card{
        position: relative;
        cursor: pointer;
        background-color: rgb(148, 190, 196);
    }
    .container .card .face{
        padding-left: 30%;
        width: 500px;
        height: 300px;
        transition: 0.5s;
    }
     
    .container .card .face.face1{
        width: 100px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transform: translateY(100px);
    }
    .container .card:hover .face.face1{
        transform: translateY(0);
    }
    .container .card .face.face2{
        margin-left: -30%;
        position: relative;
        background: rgb(115, 182, 221,0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
        transform: translateY(-100px);
    }
    .container .card:hover .face.face2{
        transform: translateY(0);
    }
     
    .container .card .face.face2 .content p{
        margin: 0;
        padding: 0;
    }
    .container .card .face.face1 .content{
        opacity: 0.2;
        transition: 0.5s;
    }
     
    .container .card:hover .face.face1 .content{
        opacity: 1;
        
    }
     
    .container .card .face.face1 .content img{
        max-width: 350px;
        margin-left: 17%;;
    }
     
    .container .card .face.face1 .content h3{
        margin: 10px 0 0;
        padding: 0;
        color: #fff;
        text-align: center;
        font-size: 1.5em;
    }
    .container .card .face.face2 .content a{
        margin: 15px 0 0;
        display:  inline-block;
        text-decoration: none;
        font-weight: 900;
        color: #333;
        padding: 5px;
        border: 1px solid #333;
    }
    .container .card .face.face2 .content a:hover{
        background: #333;
        color: #fff;
    }
























    /* .cards .card .row .col-md-12 .card-body{
        transform: scale(0.5);
        transition: transform 0.5s ease;
    }
    .cards .card .row  .col-md-12 .card-body:hover{
        transform: scale(0.80);
        cursor: zoom-in;
        background-color: rgba(192,192,192,0.5);
    }
  */